In [83]:
from lxml import html
import re
import requests
import numpy as np
import pandas as pd

page = requests.get('https://bcs-express.ru/dividednyj-kalendar')
tree = html.fromstring(page.content)

In [127]:
def cleanData(text):
    text = re.sub(r'[\n]+', '', text)
    text = re.sub(r'[\s]+', ' ', text)
    return text.strip()

namesXML = tree.xpath('//div[@class="dividends-table__row _item"]//div[@class="dividends-table__cell _title _toggle js-div-table-toggle"]/text()')
datesXML = tree.xpath('//div[@class="dividends-table__row _item"]//div[@class="dividends-table__cell _close-date"]/span[@class="dividends-table__value"]/text()')
valueXML = tree.xpath('//div[@class="dividends-table__item js-div-table-item"]/div[@class="dividends-table__row _item"]/div[@class="dividends-table__cell _value"]/text()')
priceXML = tree.xpath('//div[@class="dividends-table__row _item"]//div[@class="dividends-table__cell _price"]//span[@class="dividends-table__value"]/text()')

names = [cleanData(str(s)) for s in namesXML]
dates = [cleanData(str(s)) for s in datesXML]
value = [cleanData(str(s)) for s in valueXML]
price = [cleanData(str(s)) for s in priceXML]

In [132]:
my_dict ={'names':names,
         'dates':dates,
         'value':value,
         'price':price
        }

#print(ttt)
df = pd.DataFrame (my_dict, columns = ['names','dates','value','price'])

#df.to_csv("test.csv",encoding='utf-8-sig')

In [155]:
df.to_csv("test.csv",encoding='utf-8-sig')

In [153]:
foo = [str for str in df.names if ("флот" in str)]

In [199]:
mySharesArr = ['Магнит','Сбербанк а.о']
mySharesCnt = [750,100]
mySharesIsPresent = np.zeros(len(df.names))

In [196]:
mySharesArr["гнит" in my_shares]

'Магнит'

In [197]:
isSharesPresent = [max ([myShare in str  for myShare in mySharesArr] )for str in df.names.values]

In [200]:
mySharesIsPresent[isSharesPresent]=1

In [ ]:
[for share in mySharesIsPresent]

In [201]:
df['portfolio'] = mySharesPresent

In [202]:
df

,names,dates,value,price,portfolio
0,Норильский Никель ао 2019,25.05.2020,"557,2",20104,0.0
1,TCS Group (Тинькофф) I кв. 2020,29.05.2020,"$0,14","1049,6",0.0
2,X5 Retail 2019,29.05.2020,"110,47",2216,0.0
3,ФСК ЕЭС ао 2019,29.05.2020,"0,009494338","0,18694",0.0
4,Интер РАО ао 2019,01.06.2020,"0,196192529","4,656",0.0
...,...,...,...,...,...
75,ФосАгро ао нераспр. прибыль,04.02.2020,48,2469,0.0
76,ФСК ЕЭС ао 9 мес. 2019,13.01.2020,"0,008809608","0,2123",0.0
77,Черкизово ао 2019,07.04.2020,"60,92",1995,0.0
78,ЧТПЗ ао 9 мес. 2019,09.01.2020,"5,45",205,0.0
79,ЧТПЗ ао нераспр. прибыль,09.01.2020,"4,37",205,0.0